@import './fonts.css';
@import './colours.css';

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html {
    min-height: 100vh;
    font-family: 'iransans-x';
    scroll-behavior: smooth;
  }

  svg {
    font-size: 24px;
  }
}
