@import './fonts.css';
@import './colours.css';
@import './components.css';
@import './scrollbar.css';

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

  /* Firefox */
  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: light;
    }
  }

  /* Chrome */
  @media (forced-colors: active) {
    :root {
      color-scheme: light;
    }
  }

  html {
    min-height: 100vh;
    font-family: 'iransans-x';
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

  svg {
    font-size: 24px;
  }
}
